.mealsList {
  height: auto;
  width: 90%;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  animation: come-over 1s ease-in-out;
}
@keyframes come-over {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
}
