.text {
  height: 10rem;
  width: 50%;
  position: relative;
  padding: 2rem;
  margin: -5rem auto;
  margin-bottom: 5rem;
  display: flex;
  animation: show 1s ease-in-out;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
