.checkout {
  height: auto;
  width: 95%;
  margin: 0rem auto;
  padding: 1rem;
  overflow: scroll;
}

.formControls {
  height: 9rem;
  width: 100%;
}
.inputGroup {
  width: 50%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputGroup > label {
  font-weight: 700;
}
.inputGroup > input {
  padding: 5px;
  outline: none;
}
.actions {
  width: 90%;
  text-align: right;
  margin: 1rem auto;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #c58940;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #c58940;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #c58940;
  color: white;
}
